@font-face {
  font-family: "Inter var";
  font-display: block;
  font-style: normal;
  font-weight: 100 900;
  font-named-instance: "Regular";
  src: url("Inter.var.woff2?v=3.12") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-display: block;
  font-style: italic;
  font-weight: 100 900;
  font-named-instance: "Italic";
  src: url("Inter-italic.var.woff2?v=3.12") format("woff2");
}
