@font-face {
	font-family: "iA Writer Duo";
	font-style: normal;
	font-weight: normal;
	src: url("iAWriterDuoS-Regular.eot") format("embedded-opentype"), url("iAWriterDuoS-Regular.woff2") format("woff2"), url("iAWriterDuoS-Regular.woff") format("woff");
}

@font-face {
	font-family: "iA Writer Duo";
	font-style: italic;
	font-weight: normal;
	src: url("iAWriterDuoS-Italic.eot") format("embedded-opentype"), url("iAWriterDuoS-Italic.woff2") format("woff2"), url("iAWriterDuoS-Italic.woff") format("woff");
}

@font-face {
	font-family: "iA Writer Duo";
	font-style: normal;
	font-weight: bold;
	src: url("iAWriterDuoS-Bold.eot") format("embedded-opentype"), url("iAWriterDuoS-Bold.woff2") format("woff2"), url("iAWriterDuoS-Bold.woff") format("woff");
}

@font-face {
	font-family: "iA Writer Duo";
	font-style: italic;
	font-weight: bold;
	src: url("iAWriterDuoS-BoldItalic.eot") format("embedded-opentype"), url("iAWriterDuoS-BoldItalic.woff2") format("woff2"), url("iAWriterDuoS-BoldItalic.woff") format("woff");
}
