/* @import "https://fonts.googleapis.com/css?family=Source+Code+Pro:500,600"; */
/*  */
/* :root { */
/* 	font: 500 0.875rem/1.375 "Source Code Pro", monospace; */
/* 	color: hsl(0, 0%, 37.5%); */
/* 	caret-color: hsl(200, 100%, 62.5%); */
/* } */

article {
	white-space:   pre-wrap;
	-moz-tab-size: 2;
	tab-size:      2;
	font:          15px/1.375 Monaco !important;
	caret-color:   hsl(var(--black));
	outline:       none;
	overflow-wrap: break-word;
}

.uns { padding: 0px 0px; color: #666F; background: #6660; border-radius: 0px; }
.com { padding: 0px 0px; color: #999F; background: #9990; border-radius: 0px; }
.key { padding: 0px 0px; color: #D00F; background: #D000; border-radius: 0px; }
.num { padding: 0px 0px; color: #F90F; background: #F900; border-radius: 0px; }
.str { padding: 0px 4px; color: #0B0F; background: #0B01; border-radius: 4px; }
.pun { padding: 0px 0px; color: #999F; background: #6660; border-radius: 0px; }
.fun { padding: 0px 0px; color: #49EF; background: #49E0; border-radius: 0px; }

code { margin: 1px 0px; display: block; min-height: 1em; white-space: pre; }
