/* @import "https://fonts.googleapis.com/css?family=Fira+Code&display=block"; */
/* @import "https://cdn.jsdelivr.net/gh/codex-src/iA-Fonts@master/iA%20Writer%20Duo/Webfonts/index.css"; */
/* @import "https://cdn.jsdelivr.net/gh/codex-src/iA-Fonts@master/iA%20Writer%20Quattro/Webfonts/index.css"; */
@import "https://cdn.jsdelivr.net/gh/codex-src/iA-Fonts@master/iA%20Writer%20Mono/Webfonts/index.css";

article {
	--padding-x:  24px;
	--padding-y:  8px;

	--tabs:       4;
	--tabs-code:  2;
	--font:       19px/1.50 system-ui;
	--font-code:  17px/1.25 "iA Writer Mono", monospace;

	--box-shadow: 0px 0px 1px hsl(var(--gray));
}

article {
	-moz-tab-size: var(--tabs);
	tab-size:      var(--tabs);
	font:          var(--font);
	color:         hsl(var(--gray-900));
	caret-color:   hsl(var(--black));
}
article *::selection {
  background: hsla(var(--blue-a400), 0.25) !important;
}

code {
	-webkit-font-smoothing:  auto;
	-moz-osx-font-smoothing: auto;

	-moz-tab-size: var(--tabs-code);
	tab-size:      var(--tabs-code);
	font:          var(--font-code);
}

.header {
	font-weight: bold;
	color: hsl(var(--black));
}
.header.h1 {
	font-size: 1.75em;
}
.header.h2 {
	font-size: 1.25em;
}
.header.h3 {
	font-size: 1.20em;
}
.header.h4 {
	font-size: 1.15em;
}
.header.h5 {
	font-size: 1.10em;
}
.header.h6 {
	font-size: 1.05em;
}

.comment,
.comment > .markdown {
	color: hsl(var(--gray));
}

.blockquote {
	margin: 0px calc(-1 * var(--padding-x));
	padding: var(--padding-y) var(--padding-x);
	box-shadow: var(--box-shadow);
}

.code-block {
	margin: 0px calc(-1 * var(--padding-x));
	padding: var(--padding-y) var(--padding-x);
	box-shadow: var(--box-shadow);
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
.code-block > .node {
	white-space: pre !important;
	font: var(--font-code);
}
.code-block > .node > code {
	margin-right: calc(-1 * var(--padding-x));
	padding-right: var(--padding-x);
}
.code-block > .node > code > .markdown {
	color: hsl(var(--gray));
}

.em {
	font-style: italic;
}
.strong {
	font-weight: bold;
}
.em,
.strong {
	background: hsla(var(--blue-a200), 0.05);
}

.code {
	vertical-align: 1px;
	color: hsl(var(--blue-a400));
	box-shadow: var(--box-shadow);
}
.code > .markdown {
	color: hsl(var(--gray));
}

.markdown {
	white-space: pre;
	color: hsl(var(--blue-a200));
}
