[contenteditable] {
	white-space:     pre-wrap;
	tab-size:        4;
	font:            19px/1.5 "system-ui";
	caret-color:     hsl(var(--black));
	outline:         none;
	overflow-wrap:   break-word;
}

/* [data-node]:empty::before { */
/* 	content: " "; */
/* } */
