article {
	white-space:   pre-wrap;
	font:          19px/1.5 "system-ui";
	caret-color:   hsl(var(--black));
	outline:       none;
	overflow-wrap: break-word;
}

::selection {
	background: #4499EE1F;
}
