@import "https://cdn.jsdelivr.net/gh/codex-src/iA-Fonts@master/iA%20Writer%20Mono/Webfonts/index.css";

.prefers-text-stylesheet {
	--offset-x:      24px;
	--offset-y:      8px;
	--border-radius: 1px;
	--box-shadow:    0px 0px 0px 1px hsla(var(--gray), 0.25);

	-moz-tab-size:   4;
	tab-size:        4;
	font:            19px/1.50 system-ui;
	/* letter-spacing:  -0.0156em; */
	color:           hsl(var(--gray-900));
	caret-color:     hsl(var(--black));
}
.prefers-text-stylesheet *::selection {
  background: hsla(218, 100%, 58.0392%, 0.25) !important;
}

pre,
code {
	-webkit-font-smoothing:  auto;
	-moz-osx-font-smoothing: auto;

	-moz-tab-size:   2;
	tab-size:        2;
	font:            16px/1.25 "iA Writer Mono", monospace;
}

pre,
pre > [data-node] {
	white-space: pre !important;
}
pre > [data-node] > code {
	padding-right: var(--offset-x);
}

.prefers-text-stylesheet .header {
	font-weight: bold;
	line-height: 1.4;
	color: hsl(var(--black));
}
.prefers-text-stylesheet .header.h1 {
	font-size: 1.5em;
	/* letter-spacing: -0.0210em; */
}
.prefers-text-stylesheet .header.h2 {
	font-size: 1.25em;
	/* letter-spacing: -0.0194em; */
}
.prefers-text-stylesheet .header.h3 {
	font-size: 1.20em;
	/* letter-spacing: -0.0188em; */
}
.prefers-text-stylesheet .header.h4 {
	font-size: 1.15em;
	/* letter-spacing:-0.0182em; */
}
.prefers-text-stylesheet .header.h5 {
	font-size: 1.10em;
	/* letter-spacing: -0.0175em; */
}
.prefers-text-stylesheet .header.h6 {
	font-size: 1.05em;
	/* letter-spacing: -0.0166em; */
}
.prefers-text-stylesheet .header.h5 .markdown,
.prefers-text-stylesheet .header.h6 .markdown {
	color: hsl(var(--gray));
}

.prefers-text-stylesheet .comment {
	--blue-a400: var(--gray);
	color: hsl(var(--gray));
}

.prefers-text-stylesheet .blockquote {
	color: hsl(var(--blue-a200));
}
.prefers-text-stylesheet.prefers-read-only-mode .blockquote {
	padding-left: var(--offset-x);
	font-size: 1.05em;
	/* line-height: 1.75; */
	box-shadow: inset 2px 0px hsl(var(--blue-a400));
}

.prefers-text-stylesheet .code-block {
	margin: 0px calc(-1 * var(--offset-x));
	padding: var(--offset-y) var(--offset-x);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
.prefers-text-stylesheet .code-block .markdown {
	color: hsl(var(--gray)) !important;
}

.prefers-text-stylesheet .paragraph.emojis {
	font-size: 1.5em;
}
.prefers-text-stylesheet .emoji {
	font-size: 1.2em;
	line-height: 1;
	vertical-align: -0.1em;
}

.prefers-text-stylesheet .em {
	font-style: italic;
}
.prefers-text-stylesheet .strong {
	font-weight: 600;
}

.prefers-text-stylesheet.prefers-text-background .em,
.prefers-text-stylesheet.prefers-text-background .strong {
	background: hsla(var(--blue-a400), 0.05);
	border-radius: var(--border-radius);
}
.prefers-text-stylesheet.prefers-text-background .strikethrough {
	background: hsla(var(--gray), 0.1);
	border-radius: var(--border-radius);
}
.prefers-text-stylesheet.prefers-text-background .em *,
.prefers-text-stylesheet.prefers-text-background .strong *,
.prefers-text-stylesheet.prefers-text-background .strikethrough * {
	background: none !important;
}

.prefers-text-stylesheet .code {
	box-decoration-break: clone;
	padding: 1px 2px;
	color: hsl(var(--blue-a400));
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}
.prefers-text-stylesheet .code > .markdown {
	color: hsl(var(--gray));
}

.prefers-text-stylesheet .strikethrough {
	--blue-a400: var(--gray);
	font-style: italic;
	color: hsl(var(--gray));
	text-decoration: line-through;
}

.prefers-text-stylesheet .markdown {
	white-space: pre;
	color: hsl(var(--blue-a400));
}
.prefers-text-stylesheet.prefers-read-only-mode .markdown {
	display: none;
}
