@import "https://cdn.jsdelivr.net/gh/codex-src/iA-Fonts@master/iA%20Writer%20Mono/Webfonts/index.css";

.flag-stylesheet-type {
	--padding-x:   24px;
	--padding-y:   8px;
	--tabs:        4;
	--tabs-code:   2;
	--font:        19px/1.50 system-ui;
	--font-code:   17px/1.25 "iA Writer Mono", monospace;
	--box-shadow:  0px 0px 1px hsl(var(--gray));
}

.flag-stylesheet-type {
	-moz-tab-size: var(--tabs);
	tab-size:      var(--tabs);
	font:          var(--font);
	color:         hsl(var(--gray-900));
	caret-color:   hsl(var(--black));
}
.flag-stylesheet-type *::selection {
  background: hsla(var(--blue-a400), 0.25) !important;
}

.flag-stylesheet-type .code-block,
.flag-stylesheet-type .code {
	-webkit-font-smoothing:  auto;
	-moz-osx-font-smoothing: auto;

	-moz-tab-size: var(--tabs-code);
	tab-size:      var(--tabs-code);
	font:          var(--font-code);
}

.flag-stylesheet-type .header {
	font-weight: bold;
	color: hsl(var(--black));
}
.flag-stylesheet-type .header.h1 {
	font-size: 1.75em;
}
.flag-stylesheet-type .header.h2 {
	font-size: 1.25em;
}
.flag-stylesheet-type .header.h3 {
	font-size: 1.20em;
}
.flag-stylesheet-type .header.h4 {
	font-size: 1.15em;
}
.flag-stylesheet-type .header.h5 {
	font-size: 1.10em;
}
.flag-stylesheet-type .header.h6 {
	font-size: 1.05em;
}

.flag-stylesheet-type .comment,
.flag-stylesheet-type .comment > .markdown {
	color: hsl(var(--gray));
}

.flag-stylesheet-type .blockquote {
	margin: 0px calc(-1 * var(--padding-x));
	padding: var(--padding-y) var(--padding-x);
	box-shadow: var(--box-shadow);
}

.flag-stylesheet-type .code-block {
	margin: 0px calc(-1 * var(--padding-x));
	padding: var(--padding-y) var(--padding-x);
	border-radius: 1px;
	box-shadow: var(--box-shadow);
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
.flag-stylesheet-type .code-block > [data-node] {
	white-space: pre !important;
}
.flag-stylesheet-type .code-block > [data-node] > .markdown {
	color: hsl(var(--gray));
}

.flag-stylesheet-type .em {
	font-style: italic;
}
.flag-stylesheet-type .strong {
	font-weight: bold;
}
.flag-stylesheet-type.flag-read-write-mode.flag-show-markdown-background .em,
.flag-stylesheet-type.flag-read-write-mode.flag-show-markdown-background .strong {
	background: hsla(var(--blue-a400), 0.05);
	border-radius: 1px;
}

.flag-stylesheet-type .code {
	padding: 0px 2px;
	vertical-align: 1px;
	color: hsl(var(--blue-a400));
	border-radius: 1px;
	box-shadow: var(--box-shadow);
}
.flag-stylesheet-type .code > .markdown {
	color: hsl(var(--gray));
}

.flag-stylesheet-type .markdown {
	white-space: pre;
	color: hsl(var(--blue-a400));
}
.flag-stylesheet-type.flag-read-only-mode .markdown {
	display: none;
}
