@import "https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600,600i&display=block&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese";

strong {
	font-weight: 600 !important;
}

pre,
code,
textarea {
	-webkit-font-smoothing:  auto !important;
	-moz-osx-font-smoothing: auto !important;

	moz-tab-size:  2 !important;
	tab-size:      2 !important;
	font:          16px/1.5 "IBM Plex Mono", "monospace", "system-ui" !important;
}

pre {
	white-space:   pre-wrap !important;
	color:         hsl(var(--gray-800)) !important;
	overflow-wrap: break-word !important;
}
pre::selection,
pre *::selection {
  background: hsla(var(--blue-a400), 0) !important;
}

textarea {
	display:       block !important;
	caret-color:   hsl(var(--blue-a400)) !important;
	width:         100% !important;
	outline:       none !important;
	overflow-y:    hidden !important; /* Needed */
}
textarea::selection {
  background: hsla(var(--blue-a400), 0.25) !important;
}
