.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.5rem;
}

@media (min-width: 640px) {
	.grid { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 1024px) {
	.grid { grid-template-columns: 1fr 1fr 1fr; }
}
