.drop-down-enter {
	opacity:        0;
	pointer-events: none;
	transform:      translateY(-1rem);
	transition:     150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-down-active {
	opacity:        1;
	pointer-events: auto;
	transform:      translateY(0rem);
	transition:     150ms cubic-bezier(0.4, 0, 0.2, 1);
}
