.codex-editor {
	--padding-x: 24px;
	--box-shadow: 0px 0px 0px 1px hsl(var(--gray-300));

	color: var(--black);
	caret-color: var(--black);
}
.dark-mode .codex-editor {
	color: var(--gray-100);
	caret-color: var(--gray-100);
}

.codex-editor *::selection {
	background: #2979ff3f;
}

.codex-editor .header {
	font-weight: bold;
}
.codex-editor .header.h1 {
	font-size: 1.50em;
}
.codex-editor .header.h2 {
	font-size: 1.25em;
}
.codex-editor .header.h3 {
	font-size: 1.20em;
}
.codex-editor .header.h4 {
	font-size: 1.15em;
}
.codex-editor .header.h5 {
	font-size: 1.10em;
}
.codex-editor .header.h6 {
	font-size: 1.05em;
}

.codex-editor .blockquote {
	color: var(--md-blue-a400);
}
.codex-editor .blockquote > [data-node] > .markdown {
	margin-right: 0.5ch;
	/* FIXME */
	/* color: hsla(var(--md-blue-a400), 0.5); */
}

.codex-editor .code-block {
	padding: 0px 24px;
	/* background: var(--md-gray-50); */
	/* box-shadow: var(--box-shadow); */
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
.dark-mode .code-block {
	background: hsla(0, 0%, 100%, 0.1);
	border-radius: var(--rounded-md);
	box-shadow: 0 0 0 1px var(--gray-700), var(--shadow-md);
}

/* .codex-editor .code-block > [data-node] > span { */
/* 	padding-right: 24px; */
/* } */

.codex-editor .paragraph.emojis {
	font-size: 1.5em;
}

.codex-editor .emoji {
	font-size: 1.2em;
	line-height: 1;
	vertical-align: -0.1em;
}

.codex-editor .em {
	font-style: italic;
}

.codex-editor .strong {
	font-weight: 600;
}
.codex-editor .header .strong {
	font-weight: 700;
}

.codex-editor .code {
	padding: 0.0625em;
	box-decoration-break: clone;
	color: var(--md-blue-a400);
	box-shadow: var(--box-shadow);
}
.codex-editor .code > .markdown {
	color: hsl(var(--gray));
}

.codex-editor .strikethrough {
	--md-blue-a400: var(--gray);
	font-style: italic;
	color: hsl(var(--gray));
	text-decoration: line-through;
}

.codex-editor .markdown {
	color: var(--md-blue-a400);
}
