.codex-editor {
	--padding-x:     1.5rem;  /* 24px */
	--padding-y:     0.75rem; /* 12px */
	--border-radius: 0px;
	--box-shadow:    0px 0px 0px 1px hsl(var(--gray-300));

	color: hsl(var(--black));
	caret-color: hsl(var(--black));
}
.codex-editor *::selection {
	background: hsla(218, 100%, 58.0392%, 0.25) !important;
}

.header {
	font-weight: bold;
}
.header.h1 {
	font-size: 1.50em;
}
.header.h2 {
	font-size: 1.25em;
}
.header.h3 {
	font-size: 1.20em;
}
.header.h4 {
	font-size: 1.15em;
}
.header.h5 {
	font-size: 1.10em;
}
.header.h6 {
	font-size: 1.05em;
}

/* .comment { */
/* 	--blue-a400: var(--gray); */
/* 	color: hsl(var(--gray)); */
/* } */

.blockquote {
	/* margin: 0px -4px; */
	/* padding: 16px 24px; */
	color: hsl(var(--blue-a200));
	/* background: hsla(var(--blue-400), 0.05); */
	/* border-radius: 4px; */
}
/* .blockquote > [data-empty-node] { */
/* 	line-height: 1; */
/* } */

.code-block {
	/* margin: 0px calc(-1 * var(--padding-x)); */
	padding: 0px var(--padding-x);
	background: hsl(var(--gray-50));
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
.code-block > [data-node] > span {
	padding-right: var(--padding-x);
}

.paragraph.emojis {
	font-size: 1.5em;
}

.emoji {
	font-size: 1.2em;
	line-height: 1;
	vertical-align: -0.1em;
}

.em {
	font-style: italic;
}

.strong {
	font-weight: 600;
}
.header .strong {
	font-weight: 700;
}

.code {
	padding: 1px 0px;
	box-decoration-break: clone;
	color: hsl(var(--blue-a400));
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}
.code > .markdown {
	color: hsl(var(--gray));
}

.strikethrough {
	--blue-a400: var(--gray);
	font-style: italic;
	color: hsl(var(--gray));
	text-decoration: line-through;
}

.markdown {
	color: hsl(var(--blue-a400));
}
