.codex-editor {
	--break-height: 16px;

	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing:  auto;

	-moz-tab-size: 2;
	tab-size: 2;
	font: 16px/1.65 "iA Writer Duo var", monospace;
}

.code-block,
.code {
	font: 1em/1.45 "iA Writer Mono var", monospace;
}
