.blockquote {
	padding-left: 28px;
	font-size: 1.1em;
	box-shadow: inset 2px 0px hsl(var(--blue-a400));
}
/* .blockquote > [data-empty-node] { */
/* 	height: calc(1.65em / 2); */
/* } */

.code-block > [data-start-node],
.code-block > [data-end-node] {
	display: none;
}

.paragraph.emojis {
	font-size: 1.5em;
}

.break {
	margin: calc(0.75em - 1px) 0px;
	border: 2px solid hsl(var(--gray-200));
}

/* FIXME */
.comment,
.markdown {
	display: none;
}

.comment + .paragraph[data-empty-node] {
	display: none;
}
