.blockquote {
	padding-left: 28px;
	box-shadow: inset 2px 0px hsl(var(--blue-a400));
}

.break {
	height: var(--break-height);
	background: linear-gradient(
		transparent          calc(var(--break-height) / 2 - 2px),
		hsl(var(--gray-200)) calc(var(--break-height) / 2 - 2px),
		hsl(var(--gray-200)) calc(var(--break-height) / 2 + 2px),
		transparent          calc(var(--break-height) / 2 + 2px)
	);
}

.markdown {
	display: none;
}
