/*
 * Text
 */
.stylesheet-type {
	-moz-tab-size: 4;
	tab-size: 4;
	font: calc(18 / 16 * 1em)/1.75 system-ui, sans-serif;
}
.stylesheet-type .code-block,
.stylesheet-type .code {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing:  auto;

	-moz-tab-size: 2;
	tab-size: 2;
	font: calc(14 / 16 * 1em)/1.35 "iA Writer Mono var", monospace;
}

/*
 * Monospace
 */
.stylesheet-mono {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing:  auto;

	-moz-tab-size: 2;
	tab-size: 2;
	font: 1em/1.75 "iA Writer Mono var", monospace;
}
.stylesheet-mono .code-block,
.stylesheet-mono .code {
	-moz-tab-size: 2;
	tab-size: 2;
	font: 1em/1.35 "iA Writer Mono var", monospace;
}

/*
 * Preview mode
 */
.preview-mode .markdown {
	display: none;
}

.preview-mode .blockquote {
	padding-left: 1em;
	border-left: 0.25em solid var(--gray-300);
}
.dark-mode .preview-mode .blockquote {
	border-left: 0.25em solid var(--gray-700);
}

/* FIXME */
.preview-mode .break {
	--height: calc(var(--line-height) * 1em);
	height: var(--height);
	background:
		linear-gradient(
			transparent calc(var(--height) / 2 - 2px),
			var(--gray-200) calc(var(--height) / 2 - 2px),
			var(--gray-200) calc(var(--height) / 2 + 2px),
			transparent calc(var(--height) / 2 + 2px)
		);
}
