.stylesheet-type {
	--line-height: 1.7;

	-moz-tab-size: 4;
	tab-size: 4;
	font: 1.1875em/var(--line-height) system-ui, sans-serif;
}
.stylesheet-type .code-block,
.stylesheet-type .code {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing:  auto;

	-moz-tab-size: 2;
	tab-size: 2;
	font: calc(16 / 19 * 1em)/1.4 "iA Writer Mono var", monospace;
}

.stylesheet-type .header {
	line-height: 1.4;
}
