.dark-mode-transition,
.dark-mode-transition [class*="text-"],
.dark-mode-transition [class*="bg-"],
.dark-mode-transition [class*="border-"], /* TODO: rounded? */
.dark-mode-transition [class*="shadow"],
.dark-mode-transition .codex-editor > * {
	/* NOTE: Shorthand syntax does not work? */
	transition-property:
		color,
		background-color,
		border-color,
		box-shadow !important;
	transition-duration: 150ms !important;
	transition-timing-function: var(--ease-in-out) !important;
}
