html,
.dark-mode-in-progress *[class*="black"],   /* color, background-color, border-color */
.dark-mode-in-progress *[class*="blue"],    /* ⋮ */
.dark-mode-in-progress *[class*="gray"],    /* ⋮ */
.dark-mode-in-progress *[class*="green"],   /* ⋮ */
.dark-mode-in-progress *[class*="indigo"],  /* ⋮ */
.dark-mode-in-progress *[class*="orange"],  /* ⋮ */
.dark-mode-in-progress *[class*="pink"],    /* ⋮ */
.dark-mode-in-progress *[class*="purple"],  /* ⋮ */
.dark-mode-in-progress *[class*="red"],     /* ⋮ */
.dark-mode-in-progress *[class*="teal"],    /* ⋮ */
.dark-mode-in-progress *[class*="white"],   /* ⋮ */
.dark-mode-in-progress *[class*="yellow"],  /* ⋮ */
.dark-mode-in-progress *[class*="outline"], /* outline-color */
.dark-mode-in-progress *[class*="shadow"],  /* box-shadow */
.dark-mode-in-progress .codex-editor > * {
	transition-property: color, background-color, border-color, outline-color, box-shadow 150ms !important;
	transition-duration: 300ms !important;
	transition-timing-function: var(--ease-in-out) !important;
}
