/* https://cdpn.io/WNbEoYE */
button,
input,
textarea,
.StripeElement {
	outline: none;
	transition:
		color 0.08s ease-in,
		box-shadow 0.08s ease-in;
}

button:focus,
input:focus,
textarea:focus,
.StripeElement--focus {
	box-shadow:
		0px 0px 0px 1px rgba(50, 151, 211, 0.3),
		0px 1px 1px rgba(0, 0, 0, 0.07),
		0px 0px 0px 4px rgba(50, 151, 211, 0.3)
			!important;
}
