html {
	/* font-smoothing */
	-moz-osx-font-smoothing: grayscale;   /* Firefox */
	-webkit-font-smoothing:  antialiased; /* Safari  */

	text-size-adjust: 100%;

	/* tab-size */
	-moz-tab-size: 4;
	tab-size:      4;
}
