/* https://cdpn.io/yLyoVao */
a {
	color:           inherit;
	text-decoration: none;
}

button {
	padding:         0;
	text-align:      inherit;
	font:            inherit;
	letter-spacing:  inherit;
	color:           inherit;
	background:      none;
	border:          none;
}

input {
	padding:         0;
	font:            inherit;
	letter-spacing:  inherit;
	color:           inherit;
	background:      none;
	border:          none;
}
input::placeholder {
	color: hsl(var(--gray, 0, 0%, 50%));
}

textarea {
	padding:         0;
	vertical-align:  middle;
	font:            inherit;
	letter-spacing:  inherit;
	color:           inherit;
	background:      none;
	border:          none;
	resize:          none;
}
textarea::placeholder {
	color: hsl(var(--gray, 0, 0%, 50%));
}
