@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.Poppins {
	font-family: "Poppins";
}

.-text-px {
	font-size: 0.9375rem;
}
.text-px {
	font-size: 1.0625rem;
}
