.em-context.-ml-0,
.em-context .-ml-0 {
	margin-left: -0;
}
.em-context.-ml-1,
.em-context .-ml-1 {
	margin-left: -0.25em;
}
.em-context.-ml-2,
.em-context .-ml-2 {
	margin-left: -0.5em;
}
.em-context.-ml-3,
.em-context .-ml-3 {
	margin-left: -0.75em;
}
.em-context.-ml-4,
.em-context .-ml-4 {
	margin-left: -1em;
}
.em-context.-ml-5,
.em-context .-ml-5 {
	margin-left: -1.25em;
}
.em-context.-ml-6,
.em-context .-ml-6 {
	margin-left: -1.5em;
}
.em-context.-ml-8,
.em-context .-ml-8 {
	margin-left: -2em;
}

.em-context.-mr-0,
.em-context .-mr-0 {
	margin-right: -0;
}
.em-context.-mr-1,
.em-context .-mr-1 {
	margin-right: -0.25em;
}
.em-context.-mr-2,
.em-context .-mr-2 {
	margin-right: -0.5em;
}
.em-context.-mr-3,
.em-context .-mr-3 {
	margin-right: -0.75em;
}
.em-context.-mr-4,
.em-context .-mr-4 {
	margin-right: -1em;
}
.em-context.-mr-5,
.em-context .-mr-5 {
	margin-right: -1.25em;
}
.em-context.-mr-6,
.em-context .-mr-6 {
	margin-right: -1.5em;
}
.em-context.-mr-8,
.em-context .-mr-8 {
	margin-right: -2em;
}

.em-context.-mt-0,
.em-context .-mt-0 {
	margin-top: -0;
}
.em-context.-mt-1,
.em-context .-mt-1 {
	margin-top: -0.25em;
}
.em-context.-mt-2,
.em-context .-mt-2 {
	margin-top: -0.5em;
}
.em-context.-mt-3,
.em-context .-mt-3 {
	margin-top: -0.75em;
}
.em-context.-mt-4,
.em-context .-mt-4 {
	margin-top: -1em;
}
.em-context.-mt-5,
.em-context .-mt-5 {
	margin-top: -1.25em;
}
.em-context.-mt-6,
.em-context .-mt-6 {
	margin-top: -1.5em;
}
.em-context.-mt-8,
.em-context .-mt-8 {
	margin-top: -2em;
}

.em-context.-mb-0,
.em-context .-mb-0 {
	margin-bottom: -0;
}
.em-context.-mb-1,
.em-context .-mb-1 {
	margin-bottom: -0.25em;
}
.em-context.-mb-2,
.em-context .-mb-2 {
	margin-bottom: -0.5em;
}
.em-context.-mb-3,
.em-context .-mb-3 {
	margin-bottom: -0.75em;
}
.em-context.-mb-4,
.em-context .-mb-4 {
	margin-bottom: -1em;
}
.em-context.-mb-5,
.em-context .-mb-5 {
	margin-bottom: -1.25em;
}
.em-context.-mb-6,
.em-context .-mb-6 {
	margin-bottom: -1.5em;
}
.em-context.-mb-8,
.em-context .-mb-8 {
	margin-bottom: -2em;
}

.em-context.-mx-0,
.em-context .-mx-0 {
	margin-left: -0;
	margin-right: -0;
}
.em-context.-mx-1,
.em-context .-mx-1 {
	margin-left: -0.25em;
	margin-right: -0.25em;
}
.em-context.-mx-2,
.em-context .-mx-2 {
	margin-left: -0.5em;
	margin-right: -0.5em;
}
.em-context.-mx-3,
.em-context .-mx-3 {
	margin-left: -0.75em;
	margin-right: -0.75em;
}
.em-context.-mx-4,
.em-context .-mx-4 {
	margin-left: -1em;
	margin-right: -1em;
}
.em-context.-mx-5,
.em-context .-mx-5 {
	margin-left: -1.25em;
	margin-right: -1.25em;
}
.em-context.-mx-6,
.em-context .-mx-6 {
	margin-left: -1.5em;
	margin-right: -1.5em;
}
.em-context.-mx-8,
.em-context .-mx-8 {
	margin-left: -2em;
	margin-right: -2em;
}

.em-context.-my-0,
.em-context .-my-0 {
	margin-top: -0;
	margin-bottom: -0;
}
.em-context.-my-1,
.em-context .-my-1 {
	margin-top: -0.25em;
	margin-bottom: -0.25em;
}
.em-context.-my-2,
.em-context .-my-2 {
	margin-top: -0.5em;
	margin-bottom: -0.5em;
}
.em-context.-my-3,
.em-context .-my-3 {
	margin-top: -0.75em;
	margin-bottom: -0.75em;
}
.em-context.-my-4,
.em-context .-my-4 {
	margin-top: -1em;
	margin-bottom: -1em;
}
.em-context.-my-5,
.em-context .-my-5 {
	margin-top: -1.25em;
	margin-bottom: -1.25em;
}
.em-context.-my-6,
.em-context .-my-6 {
	margin-top: -1.5em;
	margin-bottom: -1.5em;
}
.em-context.-my-8,
.em-context .-my-8 {
	margin-top: -2em;
	margin-bottom: -2em;
}

.em-context.ml-0,
.em-context .ml-0 {
	margin-left: 0;
}
.em-context.ml-1,
.em-context .ml-1 {
	margin-left: 0.25em;
}
.em-context.ml-2,
.em-context .ml-2 {
	margin-left: 0.5em;
}
.em-context.ml-3,
.em-context .ml-3 {
	margin-left: 0.75em;
}
.em-context.ml-4,
.em-context .ml-4 {
	margin-left: 1em;
}
.em-context.ml-5,
.em-context .ml-5 {
	margin-left: 1.25em;
}
.em-context.ml-6,
.em-context .ml-6 {
	margin-left: 1.5em;
}
.em-context.ml-8,
.em-context .ml-8 {
	margin-left: 2em;
}

.em-context.mr-0,
.em-context .mr-0 {
	margin-right: 0;
}
.em-context.mr-1,
.em-context .mr-1 {
	margin-right: 0.25em;
}
.em-context.mr-2,
.em-context .mr-2 {
	margin-right: 0.5em;
}
.em-context.mr-3,
.em-context .mr-3 {
	margin-right: 0.75em;
}
.em-context.mr-4,
.em-context .mr-4 {
	margin-right: 1em;
}
.em-context.mr-5,
.em-context .mr-5 {
	margin-right: 1.25em;
}
.em-context.mr-6,
.em-context .mr-6 {
	margin-right: 1.5em;
}
.em-context.mr-8,
.em-context .mr-8 {
	margin-right: 2em;
}

.em-context.mt-0,
.em-context .mt-0 {
	margin-top: 0;
}
.em-context.mt-1,
.em-context .mt-1 {
	margin-top: 0.25em;
}
.em-context.mt-2,
.em-context .mt-2 {
	margin-top: 0.5em;
}
.em-context.mt-3,
.em-context .mt-3 {
	margin-top: 0.75em;
}
.em-context.mt-4,
.em-context .mt-4 {
	margin-top: 1em;
}
.em-context.mt-5,
.em-context .mt-5 {
	margin-top: 1.25em;
}
.em-context.mt-6,
.em-context .mt-6 {
	margin-top: 1.5em;
}
.em-context.mt-8,
.em-context .mt-8 {
	margin-top: 2em;
}

.em-context.mb-0,
.em-context .mb-0 {
	margin-bottom: 0;
}
.em-context.mb-1,
.em-context .mb-1 {
	margin-bottom: 0.25em;
}
.em-context.mb-2,
.em-context .mb-2 {
	margin-bottom: 0.5em;
}
.em-context.mb-3,
.em-context .mb-3 {
	margin-bottom: 0.75em;
}
.em-context.mb-4,
.em-context .mb-4 {
	margin-bottom: 1em;
}
.em-context.mb-5,
.em-context .mb-5 {
	margin-bottom: 1.25em;
}
.em-context.mb-6,
.em-context .mb-6 {
	margin-bottom: 1.5em;
}
.em-context.mb-8,
.em-context .mb-8 {
	margin-bottom: 2em;
}

.em-context.mx-0,
.em-context .mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.em-context.mx-1,
.em-context .mx-1 {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
.em-context.mx-2,
.em-context .mx-2 {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.em-context.mx-3,
.em-context .mx-3 {
	margin-left: 0.75em;
	margin-right: 0.75em;
}
.em-context.mx-4,
.em-context .mx-4 {
	margin-left: 1em;
	margin-right: 1em;
}
.em-context.mx-5,
.em-context .mx-5 {
	margin-left: 1.25em;
	margin-right: 1.25em;
}
.em-context.mx-6,
.em-context .mx-6 {
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.em-context.mx-8,
.em-context .mx-8 {
	margin-left: 2em;
	margin-right: 2em;
}

.em-context.my-0,
.em-context .my-0 {
	margin-top: 0;
	margin-bottom: 0;
}
.em-context.my-1,
.em-context .my-1 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
.em-context.my-2,
.em-context .my-2 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.em-context.my-3,
.em-context .my-3 {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
.em-context.my-4,
.em-context .my-4 {
	margin-top: 1em;
	margin-bottom: 1em;
}
.em-context.my-5,
.em-context .my-5 {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}
.em-context.my-6,
.em-context .my-6 {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.em-context.my-8,
.em-context .my-8 {
	margin-top: 2em;
	margin-bottom: 2em;
}

.em-context.pl-0,
.em-context .pl-0 {
	padding-left: 0;
}
.em-context.pl-1,
.em-context .pl-1 {
	padding-left: 0.25em;
}
.em-context.pl-2,
.em-context .pl-2 {
	padding-left: 0.5em;
}
.em-context.pl-3,
.em-context .pl-3 {
	padding-left: 0.75em;
}
.em-context.pl-4,
.em-context .pl-4 {
	padding-left: 1em;
}
.em-context.pl-5,
.em-context .pl-5 {
	padding-left: 1.25em;
}
.em-context.pl-6,
.em-context .pl-6 {
	padding-left: 1.5em;
}
.em-context.pl-8,
.em-context .pl-8 {
	padding-left: 2em;
}

.em-context.pr-0,
.em-context .pr-0 {
	padding-right: 0;
}
.em-context.pr-1,
.em-context .pr-1 {
	padding-right: 0.25em;
}
.em-context.pr-2,
.em-context .pr-2 {
	padding-right: 0.5em;
}
.em-context.pr-3,
.em-context .pr-3 {
	padding-right: 0.75em;
}
.em-context.pr-4,
.em-context .pr-4 {
	padding-right: 1em;
}
.em-context.pr-5,
.em-context .pr-5 {
	padding-right: 1.25em;
}
.em-context.pr-6,
.em-context .pr-6 {
	padding-right: 1.5em;
}
.em-context.pr-8,
.em-context .pr-8 {
	padding-right: 2em;
}

.em-context.pt-0,
.em-context .pt-0 {
	padding-top: 0;
}
.em-context.pt-1,
.em-context .pt-1 {
	padding-top: 0.25em;
}
.em-context.pt-2,
.em-context .pt-2 {
	padding-top: 0.5em;
}
.em-context.pt-3,
.em-context .pt-3 {
	padding-top: 0.75em;
}
.em-context.pt-4,
.em-context .pt-4 {
	padding-top: 1em;
}
.em-context.pt-5,
.em-context .pt-5 {
	padding-top: 1.25em;
}
.em-context.pt-6,
.em-context .pt-6 {
	padding-top: 1.5em;
}
.em-context.pt-8,
.em-context .pt-8 {
	padding-top: 2em;
}

.em-context.pb-0,
.em-context .pb-0 {
	padding-bottom: 0;
}
.em-context.pb-1,
.em-context .pb-1 {
	padding-bottom: 0.25em;
}
.em-context.pb-2,
.em-context .pb-2 {
	padding-bottom: 0.5em;
}
.em-context.pb-3,
.em-context .pb-3 {
	padding-bottom: 0.75em;
}
.em-context.pb-4,
.em-context .pb-4 {
	padding-bottom: 1em;
}
.em-context.pb-5,
.em-context .pb-5 {
	padding-bottom: 1.25em;
}
.em-context.pb-6,
.em-context .pb-6 {
	padding-bottom: 1.5em;
}
.em-context.pb-8,
.em-context .pb-8 {
	padding-bottom: 2em;
}

.em-context.px-0,
.em-context .px-0 {
	padding-left: 0;
	padding-right: 0;
}
.em-context.px-1,
.em-context .px-1 {
	padding-left: 0.25em;
	padding-right: 0.25em;
}
.em-context.px-2,
.em-context .px-2 {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.em-context.px-3,
.em-context .px-3 {
	padding-left: 0.75em;
	padding-right: 0.75em;
}
.em-context.px-4,
.em-context .px-4 {
	padding-left: 1em;
	padding-right: 1em;
}
.em-context.px-5,
.em-context .px-5 {
	padding-left: 1.25em;
	padding-right: 1.25em;
}
.em-context.px-6,
.em-context .px-6 {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.em-context.px-8,
.em-context .px-8 {
	padding-left: 2em;
	padding-right: 2em;
}

.em-context.py-0,
.em-context .py-0 {
	padding-top: 0;
	padding-bottom: 0;
}
.em-context.py-1,
.em-context .py-1 {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
.em-context.py-2,
.em-context .py-2 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.em-context.py-3,
.em-context .py-3 {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}
.em-context.py-4,
.em-context .py-4 {
	padding-top: 1em;
	padding-bottom: 1em;
}
.em-context.py-5,
.em-context .py-5 {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}
.em-context.py-6,
.em-context .py-6 {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.em-context.py-8,
.em-context .py-8 {
	padding-top: 2em;
	padding-bottom: 2em;
}

.em-context.w-0,
.em-context .w-0 {
	width: 0;
}
.em-context.w-1,
.em-context .w-1 {
	width: 0.25em;
}
.em-context.w-2,
.em-context .w-2 {
	width: 0.5em;
}
.em-context.w-3,
.em-context .w-3 {
	width: 0.75em;
}
.em-context.w-4,
.em-context .w-4 {
	width: 1em;
}
.em-context.w-5,
.em-context .w-5 {
	width: 1.25em;
}
.em-context.w-6,
.em-context .w-6 {
	width: 1.5em;
}
.em-context.w-8,
.em-context .w-8 {
	width: 2em;
}
.em-context.w-10,
.em-context .w-10 {
	width: 2.5em;
}
.em-context.w-12,
.em-context .w-12 {
	width: 3em;
}
.em-context.w-16,
.em-context .w-16 {
	width: 4em;
}
.em-context.w-20,
.em-context .w-20 {
	width: 5em;
}
.em-context.w-24,
.em-context .w-24 {
	width: 6em;
}
.em-context.w-32,
.em-context .w-32 {
	width: 8em;
}
.em-context.w-40,
.em-context .w-40 {
	width: 10em;
}
.em-context.w-48,
.em-context .w-48 {
	width: 12em;
}
.em-context.w-56,
.em-context .w-56 {
	width: 14em;
}
.em-context.w-64,
.em-context .w-64 {
	width: 16em;
}

.em-context.h-0,
.em-context .h-0 {
	height: 0;
}
.em-context.h-1,
.em-context .h-1 {
	height: 0.25em;
}
.em-context.h-2,
.em-context .h-2 {
	height: 0.5em;
}
.em-context.h-3,
.em-context .h-3 {
	height: 0.75em;
}
.em-context.h-4,
.em-context .h-4 {
	height: 1em;
}
.em-context.h-5,
.em-context .h-5 {
	height: 1.25em;
}
.em-context.h-6,
.em-context .h-6 {
	height: 1.5em;
}
.em-context.h-8,
.em-context .h-8 {
	height: 2em;
}

.em-context.h-10,
.em-context .h-10 {
	height: 2.5em;
}
.em-context.h-12,
.em-context .h-12 {
	height: 3em;
}
.em-context.h-16,
.em-context .h-16 {
	height: 4em;
}
.em-context.h-20,
.em-context .h-20 {
	height: 5em;
}
.em-context.h-24,
.em-context .h-24 {
	height: 6em;
}
.em-context.h-32,
.em-context .h-32 {
	height: 8em;
}
.em-context.h-40,
.em-context .h-40 {
	height: 10em;
}
.em-context.h-48,
.em-context .h-48 {
	height: 12em;
}
.em-context.h-56,
.em-context .h-56 {
	height: 14em;
}
.em-context.h-64,
.em-context .h-64 {
	height: 16em;
}

.em-context.text-xs,
.em-context .text-xs {
	font-size: 0.75em;
}
.em-context.text-sm,
.em-context .text-sm {
	font-size: 0.875em;
}
.em-context.text-base,
.em-context .text-base {
	font-size: 1em;
}
.em-context.text-lg,
.em-context .text-lg {
	font-size: 1.125em;
}
.em-context.text-xl,
.em-context .text-xl {
	font-size: 1.25em;
}
.em-context.text-2xl,
.em-context .text-2xl {
	font-size: 1.5em;
}
.em-context.text-3xl,
.em-context .text-3xl {
	font-size: 1.875em;
}
.em-context.text-4xl,
.em-context .text-4xl {
	font-size: 2.25em;
}
.em-context.text-5xl,
.em-context .text-5xl {
	font-size: 3em;
}
.em-context.text-6xl,
.em-context .text-6xl {
	font-size: 4em;
}

.em-context.rounded-none,
.em-context .rounded-none {
	border-radius: 0;
}
.em-context.rounded-sm,
.em-context .rounded-sm {
	border-radius: 0.125em;
}
.em-context.rounded,
.em-context .rounded {
	border-radius: 0.25em;
}
.em-context.rounded-md,
.em-context .rounded-md {
	border-radius: 0.375em;
}
.em-context.rounded-lg,
.em-context .rounded-lg {
	border-radius: 0.5em;
}
