.progress-bar-enter {
	width:            0%;
	background-color: var(--md-blue-a400);
	opacity:          1;
}
.dark-mode .progress-bar-enter {
	background-color: var(--md-blue-a200);
}

.progress-bar-active {
	width:            100%;
	background-color: var(--md-blue-a400);
	opacity:          0;
	transition:       width 1e3ms cubic-bezier(1, 0, 0, 1), opacity 2e3ms cubic-bezier(1, 0, 0, 1);
}
.dark-mode .progress-bar-active {
	background-color: var(--md-blue-a200);
}
